/* --- header --- */
header {
	background-image: url("../imgs/new_year_background.png");
	/*background-color: #dbdfe4;*/
	margin: 0;
	height: 10%;
	width: 100%;
}

.whatever {
	width: 10.2em;
	height: 10.2em;
	margin: 5% ;
	display: inline-block;
}

@media screen and (max-width: 600px) {
	.whatever { display: none; }
}

@media screen and (max-width: 600px) {
	.navbar ul { 
		margin-left: 0;
		padding-left: 0;
		width: 100%; }
}

.header-square {	
	display: inline-block;
	width: 5em;
	height: 5em;
	background-color: #FF6347;
}

header > h1 {
	font-size: 5em;
	margin-left: 5%;
	display: inline-block;
	font-family: 'Poiret One', cursive;
}

header > img {
	display: inline-block;
	margin-top: 30px;
	margin-left: 30px;
}

nav li {
	display: inline-block;
	padding-left: 15px;
	font-size: 20px;
}
.blog-links:link {
	color: black;
	text-decoration: none;
}

.blog-links:visited {
	color: black;
	text-decoration: none;
}

#blogs {
	margin-left: 0;
	padding-top: 30px;
}

#blogs > li {
	padding-bottom: 10px;
}

a:link {
	color: #FF6347;
	text-decoration: none;
}



a:hover {
	border-bottom: 2px solid #FF6347;
}

a:visited {
	color: #FF6347;	
}

ul {
	margin-left: 50%;
}

body {
	background-color: #f7f7f7;
	margin: 0;
	font-family: Lato, sans-serif;
	height: 100%;
	background-image: url("../imgs/new_year_background.png");
}

main {
	width: 66%;
	margin: auto;
	padding-bottom: 30px;
}

figure > img {
	display: inline-block;
	height: 220px;
	float: left;
	margin-top: 20px;
	margin-right: 20px;
}

main > section {
	display: inline-block;
	width: 66%;
}

section > h1 {
	color: #FF6347;
	font-size: 35px
}

.contact-social > span {
	padding-left: 20px;
	padding-right: 20px;
	position: relative;
	bottom: 20px;
}

footer {
	width: 100%;
	bottom: -10px;
	border: 1px solid #dbdfe4;
}

.social-media {
	width: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}

.page-break {
	height: 2px;
	width: 100%;
	background-color: #aeb0b4;
}

/* Projects */


.project-image {
    max-width: 200px;
    max-height: 200px;
    margin: 20px;
}


.project-block {
	display: inline-block;
	text-align: left;
}

.left-link {
	margin:20px;
}

.right-link {
    margin: 20px;
    margin-left: 90px;
}
